#example-dialog-form > .terra-ModalDialog-content {
 padding: 0.5714rem;
}

#example-dialog-form > .terra-ModalDialog-footer {
  padding: 0.5714rem;
  text-align: right;
}

#example-dialog-form {
  height: inherit;
  display: flex;
  flex-direction: column;
}
