@import '~terra-mixins';
@import './variables';
@import './mixins';

.terra-Menu {
  display: flex;
  height: 3.587rem;
  position: relative;
  width: 100%;
}

.terra-Menu-container {
  align-items: center;
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  justify-content: flex-end;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

