@import '~terra-mixins';
@import './variables';
@import './mixins';

.terra-MenuItemGroup--buttonStyle {
  @include terra-padding-end(1.429rem);

  display: flex;
  flex: 0 0 auto;
  flex-wrap: nowrap;
  position: relative;
}
