@import '~terra-mixins';
@import '~react-datepicker/dist/react-datepicker.min';


$datepicker__border-radius: .3rem !default;
// $datepicker__item-size: 1.7rem !default;
// $datepicker__day-margin: .166rem !default;
// $datepicker__margin: .4rem !default;
// $datepicker__navigation-size: .45rem !default;

.terra-DatePicker {
  display: inline-block;
  font-size: 1.1rem; // 11px
  min-width: 14.643em;
}

// line 55
.react-datepicker__current-month {
  font-size: .944rem; // 13px
}

// line 62
.react-datepicker__navigation {
  line-height: $datepicker__item-size;
  border: $datepicker__navigation-size solid transparent;
}

// line 122
.react-datepicker__month {
  margin: $datepicker__margin;
}

// line 127
.react-datepicker__week-number {
  width: $datepicker__item-size;
  line-height: $datepicker__item-size;
  margin: $datepicker__day-margin;
}

// line 136
.react-datepicker__day-name,
.react-datepicker__day {
  width: $datepicker__item-size;
  line-height: $datepicker__item-size;
  margin: $datepicker__day-margin;
}

// line 216
.react-datepicker__year-read-view,
.react-datepicker__month-read-view {
  &--down-arrow {
    border-width: $datepicker__navigation-size;
  }
}

// line 376
.react-datepicker__portal .react-datepicker__current-month {
    font-size: 1.44rem; // 20px
}

// line 380
.react-datepicker__navigation {
  border: 1.8 * $datepicker__navigation-size solid transparent;
}

.terra-DatePicker-input {
  @include terra-border-radius-start(0.286em);
  border: 0.071em solid $terra-grey-40;
  box-shadow: inset 0 0.143em 0.143em $terra-grey-20;
  font-size: 1em;
  line-height: 1.143;
  margin: 0.357em 0;
  padding: 0.429em 0.714em;
  vertical-align: middle;

  @if $terra-bidi {
    [dir='rtl'] & {
      margin-left: -0.071em;
    }
  }

  &:focus {
    border-color: $terra-blue-60;
    outline: none;
  }
}

.terra-DatePicker-button {
  @include terra-border-radius-start(0);

  @if $terra-bidi {
    [dir='ltr'] & {
      margin-left: -0.071em;
    }
  } @else {
    margin-left: -0.071em;
  }
}
