@import '~terra-mixins';

.terra-ModalDialog-header {
  background-color: $terra-grey-5;
  border-bottom: 1px solid $terra-grey-15;
  display: table;
  width: 100%;
}

.terra-ModalDialog-header-title {
  @include terra-padding-horizontal(0.5714rem, 0);
  color: $terra-dark;
  display: table-cell;
  font-size: 1.286rem; // ~18px
  line-height: 1.2;
  padding-bottom: 0;
  padding-top: 0.5714rem;
  width: 100%;
}
